* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}


.container {
    width: 1145px;
    margin: 0 auto;
}

.nav {
    list-style: none;
    text-align: center;
    padding: 25px 330px;
}

.menu-item {
    display: inline-block;
    margin-right: 72px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    color: #ff0000;
}

.hero {
    width: 100%;
}

.content {
    text-align: center;
}

.content-title {
    margin-top: 48px;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}

.content-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 28px;
}

.btn {
    margin-top: 66px;
    padding: 18px 43px;
    background: red;
    color: white;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.footer {
    margin-top: 42px;
    padding: 40px 0 29px 0;
}

.footer-text {
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}