body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1023px;
  margin: 0 auto;
}

.wrapper {
  background-image: url("../images/background 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 51px;
  padding-bottom: 74px;
  color: #ffffff;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.header-link {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.logo-img {
  background-image: url("../images/logo 3.svg");
  width: 53px;
  height: 47px;
}

.link-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}

.milan {
  font-weight: bold;
  font-size: 29px;
  line-height: 29px;
  text-transform: uppercase;
}

.holidays {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}
.header-link:hover {
  color: #f26522;
}
.header-link:hover .logo-img {
  background-image: url("../images/logo 2.svg");
  width: 53px;
  height: 47px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.contact-link {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
}

.contact-link:hover {
  color: #f26522;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 61px;
  grid-row-gap: 37px;
}

.content-caption {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  transition: 0.5s;
}

.image {
  width: 300px;
  height: 220px;
  border: 2px solid;
  border-image-slice: 1;
  border-width: 2px;
}

.border {
  border-image-source: linear-gradient(
    rgba(255, 255, 255, 1),
    rgba(0, 0, 0, 0)
  );
}

.image-wrap {
  position: relative;
}

.cover {
  position: absolute;
  background: #f26522;
  width: 272px;
  height: 0px;
  bottom: 4px;
  color: #ffffff;
  opacity: 0;
  transition: 0.5s;
  display: flex;
  justify-content: space-between;
  padding: 7px 16px;
  z-index: -2;
}

.content-item {
  cursor: pointer;
}

.content-item:hover .cover {
  height: 41px;
  opacity: 1;
  z-index: 1;
}

.content-item:hover .content-caption {
  color: #f26522;
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details {
  align-self: end;
}

.details-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.details-link::after {
  font: var(--fa-font-solid);
  content: "\f105";
  margin-left: 16px;
}

.opt-text {
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.main {
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

.footer {
  text-align: center;
  margin-top: 33px;
  padding: 15px;
}

.footer-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
}
