body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #000;
}

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
  text-align: center;
}

.starwars-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}
p {
  margin-bottom: 100px;
}

.crawling {
  position: relative;
  top: 9999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}

.crawling > .title {
  font-size: 90%;
  text-align: center;
}

.crawling > .title h1 {
  margin: 0 0 100px;
}



@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(25deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
