body {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.main-menu {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  background-color: #313131;
  padding-left: 3px;
}

.logo {
  display: flex;
  align-items: center;
}

.img-logo {
  padding: 22px 27px;
}

.logo-text {
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  color: #ffffff;
}

.navigation-menu {
  display: flex;
}

.menu-item {
  padding: 28px 18px;
}

.menu-item-link {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  transition: 1s;
}

.menu-item-link:hover {
  color: #14b9d5;
}

.search {
  background-color: #000000;
  padding: 13px;
  color: #ffffff;
  font-size: 23px;
  cursor: pointer;
}

.hero {
  background-image: url("../images/header-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 164px;
  padding-bottom: 74px;
  color: #ffffff;
  margin-bottom: 49px;
}

.hero-text {
  text-align: center;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #ffffff;
}

.hero-links {
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin-top: 44px;
}

.hero-subscribe {
  color: #ffffff;
  padding: 16px 19px;
  background-color: #89ca62;
  margin-right: 20px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.hero-best {
  color: #ffffff;
  padding: 16px 19px;
  background-color: #14b9d5;
  border-radius: 2px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.posts-slogan {
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #18b4cf;
  margin-bottom: 52px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  height: 868px;
  flex-direction: column;
  align-content: space-around;
}

.card {
  width: 370px;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.card-text {
  padding: 20px 15px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #353a3d;
}

.clients {
  background-image: url("../images/parallax-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-top: 106px;
  padding-bottom: 191px;
  color: #ffffff;
  margin-bottom: 49px;
}

.clients-slogan {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 97px;
}

.blue-line {
  width: 60px;
  height: 3px;
  background: #18b4cf;
  border: none;
  margin: 0 auto;
  margin-bottom: 106px;
}

.clients-logo {
  display: grid;
  justify-content: center;
  align-content: start;
  grid-template-columns: 80px 4px 60px 90px;
  grid-column-gap: 15vw;
}

.client-logo-item {
  height: 30px;
}

.top-rated {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 48px;
}

.carousel {
  display: grid;
  grid-template-columns: 271px repeat(auto-fit, 271px) 271px;
}

.hot-news {
  background: rgba(0, 0, 0, 0.0001);
  margin-bottom: 71px;
}

.news {
  display: grid;
  gap: 17px;
  grid-template-columns: 25% 25% 25% 25%;
}

.news-item {
  display: flex;
  height: fit-content;
  background-color: #f9f7f7;
}

.first {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}

.second {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  flex-direction: column;
}

.third {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  flex-direction: column;
}

.fourth {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 2;
  flex-direction: column;
}

.fifth {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  flex-direction: column;
}

.sixth {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 3;
  flex-direction: column;
}

.seventh {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
  flex-direction: column;
}

.eighth {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 4;
}

.caption-first {
  padding: 41px 24px 41px 21px;
  text-align: right;
}

.news-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #353a3d;
  margin-top: 14px;
  margin-bottom: 14px;
}

.news-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #5b6469;
  margin-top: 14px;
  margin-bottom: 14px;
}

.center {
  text-align: center;
}

.caption-next {
  padding: 12px 14px 3px 13px;
  text-align: right;
}

.footer {
  background-color: #000000;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  justify-items: end;
}

.copy {
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  text-align: right;
  color: #ffffff;
  align-self: center;
  justify-self: baseline;
}

.dev {
  justify-self: end;
  padding-top: 29px;
  padding-bottom: 27px;
  display: flex;
  align-items: flex-start;
}
