body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    font-size: 80px;
    line-height: 94px;
    color: #000000;
    margin-bottom: 20px;
}

.blue-text {
    color: #4bcaff;
}

.header {
    display: block;
    text-align: left;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    background-color: #35444F;
    padding: 0 133px 0;
}

.menu-item {
    padding: 26px 38px;
    font-size: 24px;
    line-height: 28px;
    border-left: 1px solid white;
    background-color: #35444F;
    cursor: pointer;
    transition: 1s;
}

.menu-item:hover {
    background-color: #222F3A;
}

.border-right {
    border-right: 1px solid white;
}

.menu-item-link {
    color: #ffffff;
}

.main {
    margin-top: 48px;
    display: flex;
}

.aside-menu {
    display: flex;
    flex-direction: column;
    width: 344px;
    border: 1px solid black;
}

a {
    text-decoration: none;
}

.aside-menu-item {
    padding: 27px 82px 27px 44px;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    cursor: pointer;
    transition: 1s;
}

.aside-link {
    color: #485863;
}

.aside-link:hover {
    color: #000000;
}

.aside-menu-item:hover {
    background-color: #DBDBDB;
    padding-left: 55px;
    color: #000000;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 32px;
}

.logo-ramda {
    border: 1px solid black;
    padding: 75px 268px 73px 297px;
    margin-bottom: 37px;
}

.ramda-img {
    transition: 1s;
}

.ramda-img:hover {
    transform: scale(1.2);
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-bottom: 34px;
}

.footer {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);;
}

.footer-menu {
    display: flex;
    padding: 10px 0;
}

.footer-menu-item {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    padding: 10px 15px;
    cursor: pointer;
    transition: 1s;
}

.footer-link {
    color: #0C1927;
    transition: 1s;
    padding-bottom: 6px;
}

.footer-link:hover {
 color:#3181a6;
 border-bottom: 1px solid #3181a6;
}

.copy {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    padding: 20px 0;
    margin-left: 122px;
}



